.main-wrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.loader-wrapper {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 111;
}
